body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

header {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.telegram-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0088cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

#change-background-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#change-background-btn:hover {
    background-color: #45a049;
}
